* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    background-color: rgb(240, 240, 240);
    position: fixed;
    top: 0;
}
#navbar {
    text-align: center;
}
#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar li {
    list-style-type: none;
    margin: 15px;
}
#navbar li a {
    text-decoration: none;
    padding: 10px;
    border-top: 3px solid rgba(128, 128, 128, 0.3);
    border-bottom: 3px solid rgba(128, 128, 128, 0.3);
    border-left: 3px solid rgba(128, 128, 128, 0.1);
    border-right: 3px solid rgba(128, 128, 128, 0.1);
    border-radius: 8px;
    color: black;
    font-size: 18px;
    transition: all 0.2s ease;
}
#navbar li a:hover {
    color: orangered;
    border: 3px solid rgba(255, 115, 0, 0.856);
}

#main {
    width: 80%;
    margin: 100px auto;
}
#main #welcome-section {
    text-align: center;
    margin: 200px 0px;
}
#welcome-section h1 {
    margin: 20px 0px;
    font-size: 60px;
}
#welcome-section .dev-name {
    font-style: italic;
    border-bottom: 10px solid rgb(173, 55, 0);
}
#welcome-section p {
    font-size: 20px;
}
#welcome-section p:first-of-type {
    margin: 20px 0px 80px 0;
}
#welcome-section .country {
    font-style: italic;
    font-weight: 700;
    padding: 10px;
    background-color: rgba(127, 255, 212, 0.3);
    color: rgb(44, 119, 0);
}
#welcome-section .highlght {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 26px;
    opacity: 0.9;
}


#projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
#projects a{
    text-decoration: none;
    color: rgb(39, 39, 39);
    font-size: 1.5rem;
    font-weight: 600;
}
#projects img{
    display: block;
    width: 400px;
    height: 500px;
    margin:  0 auto;
    object-fit: cover;
}
#projects figure{
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.1);
}
#projects figcaption{
    text-align: center;
    padding: 18px 0px;
}



#footer{
    background-color: rgb(240, 240, 240);
    text-align: center;
}
#footer #contact{
    padding: 50px 0px;
}
#contact h1{
    font-size: 34px;
}
#contact > p{
    font-size: 20px;
}


#contact .mediums{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 10px 0px;
}
#contact .mediums *{
    font-size: 20px;
}
#contact .mediums a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 50px;
    margin: 0 auto;
    text-decoration: none;
    color: rgb(5, 5, 65);
}
#contact .mediums div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}


@media screen and (max-width: 525px) {
    #projects img{
        width: 150px;
        height: 250px;
    }
    #projects a{
        font-size: 0.9rem;
    }
};

@media screen and (min-width: 526px) and (max-width: 775){
    #projects img{
        width: 200px;
        height: 300px;
    }
}